PORT=

NODE_ENV=

DEV_DB_NAME=
DEV_DB_USERNAME=
DEV_DB_PASSWORD=

PROD_DB_NAME=
PROD_DB_USERNAME=
PROD_DB_PASSWORD=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_REGION_BUCKET_S3=
AWS_BUCKET_S3=

AWS_CLOUD_FRONT_DISTRIBUTION_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=